/*-- scss:defaults --*/

// Import Google fonts

// -> Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// -> Ubuntu 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
// -> Rubik
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// -> Cascadia Code for code
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

// select fonts
$ubuntu: "Ubuntu", sans-serif;

// Base document color pallete

$white: rgb(248, 248, 242);
$off-white: #FAF9F6;
$black: #212529;
$mine-shaft: #323232; // https://www.color-hex.com/color/323232
$gray-dark: #23252F;
$gray-light: #f3f3f3;
$denim-blue: #1F4ABB; // https://colorhub.art/color/%231F4ABB
$blue-pale: #afeeee;
$reddish-orange: #FB2E01;
$green-light: #6FCB9F;

$primary:           $denim-blue;
$secondary:         $green-light;
$secondary-light:   $blue-pale;
$light-accent:      $gray-light;
$dark:              $gray-dark;

// settings for elements

$navbar-bg: $primary; // navbar
$navbar-fg: $off-white; // navbar foreground elements
$navbar-hl: $gray-light; // highlight color when hovering over navbar links
$body-bg: $gray-dark; // page background 
$body-color: $off-white; // page text 
$footer-bg: $gray-dark; // footer 
$link-color: $green-light; // hyperlinks 

// Inline code ->  with backticks `{text}`
$code-bg: $mine-shaft; // inline background color
$code-color: $green-light; // inline code text color

// Code blocks
$code-block-bg: rgba(25, 25, 25, 0.9); // code block background color 
$code-block-border-left: $green-light;

// Contrast
$min-contrast-ratio: 7;

/*-- scss:rules --*/

// Global Settings

.navbar-title {
    font-family: $ubuntu;
    font-weight: 700;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: $ubuntu;
}

/// Hyperlinks 

//-> Default
a {
    color: $secondary; /* Change this to the desired default color */
}

// -> Hover

a:hover {
    color: $secondary-light;
}

// -> Headers

h1 {
    font-size: 1.8em;
    font-weight: 900;
}
  
h2 {
    font-size: 1.0em;
}

h3, h4 {
    font-weight: 700;
    //font-family: Domine, serif;
    //color: $teal;
}
  
h3 {
    font-size: 1.15em;
}
  
h4 {
    font-size: 1.1em;
}
  
h5, h6 {
    font-size: 1.05em;
    font-weight: 600;
    //font-family: Domine, serif;
    //color: $secondary;
}

// -> Navbar

/// Adaptable View (all icons in one row);
/* Source: Andrew Heiss's blog - https://github.com/andrewheiss/ath-quarto/blob/8bad8578379a83f9aaf6cadd3bc75cb227e76f1b/html/ath.scss#L137-L140) */

.navbar-nav.navbar-nav-scroll.ms-auto {
    flex-direction: row;
}

// code + cell output

code {
    font-family: Fira Mono, monospace;
 }
 
 pre.sourceCode {
     font-size: 0.9em;
 }
   
 .sourceCode pre code {
     padding: 0.9em;
 }

 .cell-output pre {
    background-color: $gray-light; /* gray light background */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Add some padding */
  }

  .cell-output pre { border: $secondary-light 1px solid; }

 
// footer

// -> links on left side
.nav-footer a {
    color: $secondary;
    // link on hover
    &:hover {
      color: $secondary-light;
    }
}

// -> links on right side
.nav-footer .nav-link {
    &:hover {
      text-decoration: underline;
    }
}

// images

// listing buttons

div.quarto-post .listing-categories .listing-category, .quarto-category, .btn {
    opacity: 0.8 !important;
    color: $secondary;
    border-color: $secondary;
    text-align: center;
    border-style: solid;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
  
.btn {
    opacity: 1 !important;
    padding: 0.5em;
    border-radius: 6px;
}
  
// -> About Links Buttons Hover
div.quarto-post .listing-categories .listing-category:hover, .quarto-category:hover, .btn:hover {
    background-color: $secondary;
    color: $off-white;
}

.listing-btn-group {
    display: inline-flex;
    gap: 1em;
}

// page buttons

.page-link {
    background-color: $gray-light;
    color: $secondary;
}

.page-link:hover {
    background-color: $secondary;
    color: $off-white;
}

.page-item.active .page-link {
    background-color: $secondary;
}