/*-- scss:defaults --*/

// select fonts WIP ...
//$font-family-sans-serif: roboto;

// Base document colors

$black: #212529;
$mine-shaft: #323232; // https://www.color-hex.com/color/323232
$dark-gray: #23252F;
$denim-blue: #1F4ABB; // https://colorhub.art/color/%231F4ABB
$off-white: #FAF9F6;
$reddish-orange: #fB2E01;
$light-green: #6FCB9F;
$purple: #9158A2; // here for testing

// settings for elements

$navbar-bg: $denim-blue; // navbar color
$navbar-fg: $off-white; // navbar text color

$body-bg: $off-white; // page background 
$body-color: $mine-shaft; // page text 
$link-color: $reddish-orange; // link color

//$code-color: rgb(86, 51, 51);
$code-block-bg: rgba(205, 205, 205, 0.9);

/*-- scss:rules --*/
